
<%= simple_form_for(@formulario) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :fecha %>
    <%= f.input :FdN %>
    <%= f.input :direccion %>
    <%= f.input :sexo %>
    <%= f.input :email %>
    <%= f.input :telefono %>
    <%= f.input :movil %>
    <%= f.input :profesion %>
    <%= f.input :altura %>
    <%= f.input :peso %>
    <%= f.input :motivos %>
    <%= f.input :especialistas %>
    <%= f.input :dieta %>
    <%= f.input :intolerancia %>
    <%= f.input :detalles_1 %>
    <%= f.input :limites %>
    <%= f.input :otro_1 %>
    <%= f.input :problema1 %>
    <%= f.input :p1 %>
    <%= f.input :p2 %>
    <%= f.input :p3 %>
    <%= f.input :problema2 %>
    <%= f.input :p4 %>
    <%= f.input :p5 %>
    <%= f.input :p6 %>
    <%= f.input :problema3 %>
    <%= f.input :p7 %>
    <%= f.input :p8 %>
    <%= f.input :p9 %>
    <%= f.input :problema4 %>
    <%= f.input :p10 %>
    <%= f.input :p11 %>
    <%= f.input :p12 %>
    <%= f.input :otro_2 %>
    <%= f.input :medicacion1 %>
    <%= f.input :m1 %>
    <%= f.input :m2 %>
    <%= f.input :m3 %>
    <%= f.input :m4 %>
    <%= f.input :m5 %>
    <%= f.input :m6 %>
    <%= f.input :medicacion2 %>
    <%= f.input :m7 %>
    <%= f.input :m8 %>
    <%= f.input :m9 %>
    <%= f.input :m10 %>
    <%= f.input :m11 %>
    <%= f.input :m12 %>
    <%= f.input :medicacion3 %>
    <%= f.input :m13 %>
    <%= f.input :m14 %>
    <%= f.input :m15 %>
    <%= f.input :m16 %>
    <%= f.input :m17 %>
    <%= f.input :m18 %>
    <%= f.input :otro_3 %>
    <%= f.input :suplemento1 %>
    <%= f.input :s1 %>
    <%= f.input :s2 %>
    <%= f.input :s3 %>
    <%= f.input :s4 %>
    <%= f.input :suplemento2 %>
    <%= f.input :s5 %>
    <%= f.input :s6 %>
    <%= f.input :s7 %>
    <%= f.input :s8 %>
    <%= f.input :suplemento3 %>
    <%= f.input :s9 %>
    <%= f.input :s10 %>
    <%= f.input :s11 %>
    <%= f.input :s12 %>
    <%= f.input :otro_4 %>
    <%= f.input :madre %>
    <%= f.input :padre %>
    <%= f.input :abuela_mat %>
    <%= f.input :abuela_pat %>
    <%= f.input :abuelo_mat %>
    <%= f.input :abuelo_pat %>
    <%= f.input :hermanos %>
    <%= f.input :hermanas %>
    <%= f.input :tios %>
    <%= f.input :tias %>
    <%= f.input :ninos %>
    <%= f.input :sobrinos %>
    <%= f.input :activa %>
    <%= f.input :ejercicio1 %>
    <%= f.input :e1 %>
    <%= f.input :e2 %>
    <%= f.input :ejercicio2 %>
    <%= f.input :e3 %>
    <%= f.input :e4 %>
    <%= f.input :ejercicio3 %>
    <%= f.input :e5 %>
    <%= f.input :e6 %>
    <%= f.input :otro_5 %>
    <%= f.input :fumas1 %>
    <%= f.input :fumas2 %>
    <%= f.input :fumado %>
    <%= f.input :alcol1 %>
    <%= f.input :alcol2 %>
    <%= f.input :alergia1 %>
    <%= f.input :alergia2 %>
    <%= f.input :habitos1 %>
    <%= f.input :habitos2 %>
    <%= f.input :habitos3 %>
    <%= f.input :habitos4 %>
    <%= f.input :galletas_tartas_bolleria %>
    <%= f.input :leche %>
    <%= f.input :huevos %>
    <%= f.input :chocolates_dulces %>
    <%= f.input :carne_roja %>
    <%= f.input :carne_blanca %>
    <%= f.input :pescado_blanco %>
    <%= f.input :pezcado_azul %>
    <%= f.input :carne_procesada %>
    <%= f.input :pan %>
    <%= f.input :te %>
    <%= f.input :cafe %>
    <%= f.input :refresco_lata %>
    <%= f.input :agua %>
    <%= f.input :verdura %>
    <%= f.input :ensalada %>
    <%= f.input :tick %>
    <%= f.input :pecho %>
    <%= f.input :dieta_sana %>
    <%= f.input :motivacion %>
    <%= f.input :desayuno1 %>
    <%= f.input :desayuno2 %>
    <%= f.input :desayuno3 %>
    <%= f.input :almuerzo %>
    <%= f.input :almuerzo2 %>
    <%= f.input :almuerzo3 %>
    <%= f.input :cena1 %>
    <%= f.input :cena2 %>
    <%= f.input :cena3 %>
    <%= f.input :snacks1 %>
    <%= f.input :snacks2 %>
    <%= f.input :snacks3 %>
    <%= f.input :bebidas1 %>
    <%= f.input :bebidas2 %>
    <%= f.input :bebidas3 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
