
<%= simple_form_for(@formulario) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :fecha, start_year: Date.today.year %>
    <%= f.input :FdN, label: 'Fecha de nacimiento', start_year: Date.today.year - 90, end_year: Date.today.year - 18 %>
    <%= f.input :direccion %>
    <%= f.input :email %>
    <%= f.input :telefono %>
    <%= f.input :movil %>
    <%= f.input :profesion %>

    <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= f.input :sexo, as: :radio_buttons, collection: [['0', 'Hombre'], ['1', 'Mujer']], label_method: :second, value_method: :first %></td>
              <td><%= f.input :altura %></td>
              <td><%= f.input :peso %></td>
            </tr>
          <tbody>

    <%= f.input :motivos, label: '¿Cuales son tus motivos por acudir a Terapia Nutricional?' %>
    <%= f.input :especialistas, as: :boolean, checked_value: true, unchecked_value: false, label: '¿Has acudido a otros especialistas?' %>
    <%= f.input :dieta %>
    <%= f.input :intolerancia, label: '¿Tienes alguna intolerancia o alergia alimentaria?' %>
    <%= f.input :detalles_1 %>
    <%= f.input :limites, label: '¿Algunos de los siguientes elementos te limitan a la hora de alcanzar tus metas de salud/estilo de vida/ejercicio? ', collection: [ ['Tiempo', '0'], ['Dinero', '1'], ['Entendimiento', '2'], ['Fuerza de voluntad', '3'], ['Apoyo', '4']], as: :check_boxes %>
    <%= f.input :otro_1, label: 'Otro' %>

    <table class="table">
          <thead>
            <tr>
              <th>Problema de salud/síntoma/cirujía</th>
              <th>Edad de inicio</th>
              <th>Duración</th>
              <th>Medicación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= f.input :problema1, label: false %></td>
              <td><%= f.input :p1, label: false %></td>
              <td><%= f.input :p2, label: false %></td>
              <td><%= f.input :p3, label: false %></td>
              <td></td>
            </tr>

            <tr>
              <td><%= f.input :problema2, label: false %></td>
              <td><%= f.input :p4, label: false %></td>
              <td><%= f.input :p5, label: false %></td>
              <td><%= f.input :p6, label: false %></td>
              <td></td>
            </tr>

            <tr>
              <td><%= f.input :problema3, label: false %></td>
              <td><%= f.input :p7, label: false %></td>
              <td><%= f.input :p8, label: false %></td>
              <td><%= f.input :p9, label: false %></td>
              <td></td>
            </tr>

            <tr>
              <td><%= f.input :problema4, label: false %></td>
              <td><%= f.input :p10, label: false %></td>
              <td><%= f.input :p11, label: false %></td>
              <td><%= f.input :p12, label: false %></td>
              <td></td>
            </tr>
          <tbody>
    </table>
<%= f.input :otro_2, label: 'Otro' %>


    <table class="table">
          <thead>
            <tr>
              <th>Medicación</th>
              <th>Dosis</th>
              <th>Condición</th>
              <th>Frecuencia</th>
              <th>Duración</th>
              <th>Actual</th>
              <th>Pasado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= f.input :medicacion1, label: false %></td>
              <td><%= f.input :m1, label: false %></td>
              <td><%= f.input :m2, label: false %></td>
              <td><%= f.input :m3, label: false %></td>
              <td><%= f.input :m4, label: false %></td>
              <td><%= f.input :m5, label: false %></td>
              <td><%= f.input :m6, label: false %></td>
            </tr>

            <tr>
              <td><%= f.input :medicacion2, label: false %></td>
              <td><%= f.input :m7, label: false %></td>
              <td><%= f.input :m8, label: false %></td>
              <td><%= f.input :m9, label: false %></td>
              <td><%= f.input :m10, label: false %></td>
              <td><%= f.input :m11, label: false %></td>
              <td><%= f.input :m12, label: false %></td>
            </tr>

            <tr>
              <td><%= f.input :medicacion3, label: false %></td>
              <td><%= f.input :m13, label: false %></td>
              <td><%= f.input :m14, label: false %></td>
              <td><%= f.input :m15, label: false %></td>
              <td><%= f.input :m16, label: false %></td>
              <td><%= f.input :m17, label: false %></td>
              <td><%= f.input :m18, label: false %></td>
            </tr>
          <tbody>
    </table>
    <%= f.input :otro_3, label: 'Otro' %>


    <table class="table">
          <thead>
            <tr>
              <th>Suplemento
(incluye el fabricante en el caso que sea posible)
</th>
              <th>Dosis</th>
              <th>Duración</th>
              <th>Actual</th>
              <th>Pasado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= f.input :suplemento1, label: false %></td>
              <td><%= f.input :s1, label: false %></td>
              <td><%= f.input :s2, label: false %></td>
              <td><%= f.input :s3, label: false %></td>
              <td><%= f.input :s4, label: false %></td>

            </tr>

            <tr>
              <td><%= f.input :suplemento2, label: false %></td>
              <td><%= f.input :s5, label: false %></td>
              <td><%= f.input :s6, label: false %></td>
              <td><%= f.input :s7, label: false %></td>
              <td><%= f.input :s8, label: false %></td>
            </tr>

            <tr>
              <td><%= f.input :suplemento3, label: false %></td>
              <td><%= f.input :s9, label: false %></td>
              <td><%= f.input :s10, label: false %></td>
              <td><%= f.input :s11, label: false %></td>
              <td><%= f.input :s12, label: false %></td>
            </tr>
          <tbody>
    </table>
    <%= f.input :otro_4, label: 'Otro' %>

  </table>
  <table class="table">
        <thead>
          <tr>
            <th>Quién</th>
            <th>Condición</th>
            <th>Quién</th>
            <th>Condición</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Madre</td>
            <td><%= f.input :madre, label: false  %></td>
            <td>Padre</td>
            <td><%= f.input :padre, label: false  %></td>
          </tr>
          <tr>
            <td>Abuela materna</td>
            <td><%= f.input :abuela_mat, label: false  %></td>
            <td>Abuela paterna</td>
            <td><%= f.input :abuela_mat, label: false  %></td>
          </tr>
          <tr>
            <td>Abuelo materno</td>
            <td><%= f.input :abuelo_mat, label: false  %></td>
            <td>Abuelo paterno</td>
            <td><%= f.input :abuelo_mat, label: false  %></td>
          </tr>
          <tr>
            <td>Hermanos</td>
            <td><%= f.input :hermanos, label: false %></td>
            <td>Hermanas</td>
            <td><%= f.input :hermanas, label: false %></td>
          </tr>
          <tr>
            <td>Tíos</td>
            <td><%= f.input :tios, label: false %></td>
            <td>Tías</td>
            <td><%= f.input :tias, label: false %></td>
          </tr>
          <tr>
            <td>Niños</td>
            <td><%= f.input :ninos, label: false %></td>
            <td>Sobrinos</td>
            <td><%= f.input :sobrinos, label: false %></td>
          </tr>
        <tbody>
  </table>

FACTORES-ESTILO DE VIDA
  <%= f.input :activa,
    label: 'Te consideras una persona:',
    collection: [ ['Muy activa  ', '0'],
                ['Activa', '1'],
                ['Moderadamente activa', '2'],
                ['Sedentario', '3']],
    as: :check_boxes %>

</table>
<table class="table">
      <thead>
        <tr>
          <th>Tipo de ejercicio</th>
          <th>Frecuencia (e.g. 3x p/semana)</th>
          <th>Duración (e.g. 45 mins)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.input :ejercicio1, label: false %></td>
          <td><%= f.input :e1, label: false %></td>
          <td><%= f.input :e2, label: false %></td>
        </tr>
        <tr>
          <td><%= f.input :ejercicio2, label: false %></td>
          <td><%= f.input :e3, label: false %></td>
          <td><%= f.input :e4, label: false %></td>
        </tr>
        <tr>
          <td><%= f.input :ejercicio3, label: false %></td>
          <td><%= f.input :e5, label: false %></td>
          <td><%= f.input :e6, label: false %></td>
        </tr>
      <tbody>
</table>
    <%= f.input :otro_5, label:'Otro' %>

    <%= f.input :fumas1, label:'Fumas?', wrapper_html: {class:'checkbox'} %>
    <%= f.input :fumas2, label:'Si es así, cuantos al dia?', collection: 1..100 %>
    <%= f.input :fumado, label: ' Has fumado alguna vez?', wrapper_html: {class:'checkbox'} %>

Cual es su consumición media de alcohol (unidades)?<br>
    <%= f.input :alcol1, label: 'Entre semana' %>
    <%= f.input :alcol2, label: 'Fin de semana' %>

Pon un tic en las Casillas si son aplicables en tu caso, y poner mas detalles en el espacio abajo:

    <%= f.input :alergia1, label: 'Te consideras una persona:', collection: [ ['Historia de alergias en la familia?', '0'], ['Alergia diagnosticada?', '1'], ['Intoleranica diagnosticada?', '2'], ['Has hecho algunas pruebas?', '3'], ['Llevas un EpiPen?', '4'], ['Historia de reacción alergica?', '5']], as: :check_boxes %>
    <%= f.input :alergia2, label:'Proporciona mas detalles y enumera cualquier alimento o producto químico que te podría provocar una reacción:'%>
    <%= f.input :habitos1, label:'Tienes antoja para algún alimento?' %>
    <%= f.input :habitos2, label:'Hay algún alimento que no te gusta?'%>
    <%= f.input :habitos3, label:'Cuales son tus alimentos preferidos?'%>
    <%= f.input :habitos4, label:'Alguna comida que te costaría prescindir de?'%>

  </table>
  <table class="table-condensed">
        <thead>
          <tr>
            <th>Indica la cantidad aproximada por semana:</th>
            <th></th>
            <th>Indica la cantidad aproximada diario</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Galletas/tartas/bolleria</td>
            <td><%= f.input :galletas_tartas_bolleria, label:false %></td>
            <td>Pan</td>
            <td>  <%= f.input :pan, label:false %></td>
          </tr>
          <tr>
            <td>Leche</td>
            <td><%= f.input :leche, label:false %></td>
            <td>Tazas de té</td>
            <td><%= f.input :te, label:false %></td>
          </tr>
          <tr>
            <td>Huevos</td>
            <td><%= f.input :huevos, label:false %></td>
            <td>Tazas de café</td>
            <td><%= f.input :cafe, label:false %></td>
          </tr>
          <tr>
            <td>Chocolates/dulces</td>
            <td><%= f.input :chocolates_dulces, label:false %></td>
            <td>Latas de resfrescos con gas</td>
            <td><%= f.input :refresco_lata, label:false %></td>
          </tr>
          <tr>
            <td>Carne roja (Ternea, Cordero o Cerdo)</td>
            <td><%= f.input :carne_roja, label:false %></td>
            <td>Refrescos con gas (light)</td>
            <td><%= f.input :refresco_light, label:false %></td>
          </tr>
          <tr>
            <td>Carne blanca (Pollo, Pavo, Conejo)</td>
            <td><%= f.input :carne_blanca, label:false %></td>
            <td>Vasos de agua</td>
            <td><%= f.input :agua, label:false %></td>
          </tr>
          <tr>
            <td>Pescado blanco</td>
            <td><%= f.input :pescado_blanco, label:false %></td>
            <td>Porciones de Fruta4</td>
            <td><%= f.input :fruta, label:false %></td>
          </tr>
          <tr>
            <td>Pescado azul</td>
            <td><%= f.input :pezcado_azul, label:false %></td>
            <td>Porciones de Verdura4</td>
            <td><%= f.input :verdura, label:false %></td>
          </tr>
          <tr>
            <td>Carne procesada3</td>
            <td>  <%= f.input :carne_procesada, label:false %></td>
            <td>Porciones de ensalada5</td>
            <td><%= f.input :ensalada, label:false %></td>
          </tr>
        <tbody>
  </table>

    <%= f.input :tick,
    label:'Pon un tic en las Casillas si son aplicables en tu caso',
    collection: [
    ['padecido desorden alimentaria?', '1'],
    ['comes mucho lacteo o trigo?', '2'],
    ['te gusta comer/preparer comida?', '3'],
    ['compras comida ecológica?', '4'],
    ['añades sal a la comida?', '5'],
    ['tomas café o té descafeinado?', '6'],
    ['usas margarinas?', '7'],
    ['cocinas con aceites vegetales?', '8'],
    ['bebes agua filtrada?', '9'],
    ['has cambiado tu dieta ultimamente?', '10'],
    ['tomas té o café?', '11'],
    ['comes pan blanco?', '12'],
    ['comes mucho comida frita?', '13'],
    ['compras mucha comida para llevar?', '14'],
    ['comes mucha fruta y verdua fresca?  ', '15'],
    ['añades muchas salsas a la comida?', '16'],
    ['comes fuera a menudo?', '17'],
    ['cocinas para mas personas?', '18'],
    ['tienes apetito grande?', '19'],
    ['tu dieta es repetitiva?', '20'],
    ['comes pasta y arroz?', '21'],
    ['comes comida preparada?', '22'],
    ['usas el microondas?', '23'],
    ['eliges comida bajo en grasa?', '24'],
    ],
    as: :check_boxes %>

    <%= f.input :pecho, label:'Te dieron pecho?'%>
    <%= f.input :dieta_sana, label:'Crecido con una dieta sana?' %>

    <%= f.input :motivacion,
      label:'Nivel de motivación para cambiar tu dieta y incorporar nueva comida?',
      collection: [ ['Estoy muy motivado y dispuesto a hacer cambios y probar nuevos alimentos.', '0'],
      ['Estoy motivado pero, no estoy seguro acerca de lo de los nuevos cambios.', '1'],
      ['Me siento un poco aprensivo acerca de todo el proceso.', '2']],
      as: :check_boxes %>

    </table>
    <table class="table eating_plan">
          <thead>
            <tr>
              <th></th>
              <th>Dia entre semana 1</th>
              <th>Dia entre semana 2</th>
              <th>Fin de Semana</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Desayuno</td>
              <td><%= f.input :desayuno1,
                hint:'Introduce la hora del desayuno:',
                label: false %></td>
              <td><%= f.input :desayuno2, label: false %></td>
              <td><%= f.input :desayuno3, label: false %></td>
            </tr>
            <tr>
              <td>Almuerzo</td>
              <td><%= f.input :almuerzo, label: false, hint:'Introduce la hora del desayuno:' %></td>
              <td><%= f.input :almuerzo2, label: false %></td>
              <td><%= f.input :almuerzo3, label: false %></td>
            </tr>
            <tr>
              <td>Cena</td>
              <td><%= f.input :cena1, hint:'Introduce la hora del desayuno:', label: false %></td>
              <td><%= f.input :cena2, label: false %></td>
              <td><%= f.input :cena3, label: false %></td>
            </tr>
            <tr>
              <td>Snacks</td>
              <td><%= f.input :snacks1, hint:'Introduce la hora del desayuno:', label: false %></td>
              <td><%= f.input :snacks2, label: false %></td>
              <td><%= f.input :snacks3, label: false %></td>
            </tr>
            <tr>
              <td>Bebidas</td>
              <td><%= f.input :bebidas1,
              placeholder:'Enumera los tipos de bebidas y frecuencia por dia, e.g. 4x café con leche, 3x zumo 1 litro agua',
              label: false %></td>
              <td><%= f.input :bebidas2, label: false %></td>
              <td><%= f.input :bebidas3, label: false %></td>
            </tr>
          <tbody>
    </table>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviar" %>
  </div>

<% end %>
</table>
<table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <tbody>
</table>
