<p id="notice"><%= notice %></p>

<h1>
  <strong>Nombre:</strong>
  <%= @formulario.nombre %>
</h1>

<h3>Datos Personales</h3>
<p>
  <strong>Fecha:</strong>
  <%= @formulario.fecha %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @formulario.FdN %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @formulario.direccion %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @formulario.sexo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @formulario.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @formulario.telefono %>
</p>

<p>
  <strong>Movil:</strong>
  <%= @formulario.movil %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @formulario.profesion %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @formulario.altura %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @formulario.peso %>
</p>

<p>
  <strong>Motivos:</strong>
  <%= @formulario.motivos %>
</p>

HISTORIA MÉDICA
<p>
  <strong>Especialistas:</strong>
  <%= @formulario.especialistas %>
</p>

<p>
  <strong>Dieta:</strong>
  <%= @formulario.dieta %>
</p>

<p>
  <strong>Intolerancia:</strong>
  <%= @formulario.intolerancia %>
</p>

<p>
  <strong>Detalles 1:</strong>
  <%= @formulario.detalles_1 %>
</p>

<p>
  <strong>Limites:</strong>
  <%= @formulario.limites %>
</p>

<p>
  <strong>Otro 1:</strong>
  <%= @formulario.otro_1 %>
</p>

<p>
  <strong>Problema1:</strong>
  <%= @formulario.problema1 %>
</p>

<p>
  <strong>P1:</strong>
  <%= @formulario.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @formulario.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @formulario.p3 %>
</p>

<p>
  <strong>Problema2:</strong>
  <%= @formulario.problema2 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @formulario.p4 %>
</p>

<p>
  <strong>P5:</strong>
  <%= @formulario.p5 %>
</p>

<p>
  <strong>P6:</strong>
  <%= @formulario.p6 %>
</p>

<p>
  <strong>Problema3:</strong>
  <%= @formulario.problema3 %>
</p>

<p>
  <strong>P7:</strong>
  <%= @formulario.p7 %>
</p>

<p>
  <strong>P8:</strong>
  <%= @formulario.p8 %>
</p>

<p>
  <strong>P9:</strong>
  <%= @formulario.p9 %>
</p>

<p>
  <strong>Problema4:</strong>
  <%= @formulario.problema4 %>
</p>

<p>
  <strong>P10:</strong>
  <%= @formulario.p10 %>
</p>

<p>
  <strong>P11:</strong>
  <%= @formulario.p11 %>
</p>

<p>
  <strong>P12:</strong>
  <%= @formulario.p12 %>
</p>

<p>
  <strong>Otro 2:</strong>
  <%= @formulario.otro_2 %>
</p>

<p>
  <strong>Medicacion1:</strong>
  <%= @formulario.medicacion1 %>
</p>

<p>
  <strong>M1:</strong>
  <%= @formulario.m1 %>
</p>

<p>
  <strong>M2:</strong>
  <%= @formulario.m2 %>
</p>

<p>
  <strong>M3:</strong>
  <%= @formulario.m3 %>
</p>

<p>
  <strong>M4:</strong>
  <%= @formulario.m4 %>
</p>

<p>
  <strong>M5:</strong>
  <%= @formulario.m5 %>
</p>

<p>
  <strong>M6:</strong>
  <%= @formulario.m6 %>
</p>

<p>
  <strong>Medicacion2:</strong>
  <%= @formulario.medicacion2 %>
</p>

<p>
  <strong>M7:</strong>
  <%= @formulario.m7 %>
</p>

<p>
  <strong>M8:</strong>
  <%= @formulario.m8 %>
</p>

<p>
  <strong>M9:</strong>
  <%= @formulario.m9 %>
</p>

<p>
  <strong>M10:</strong>
  <%= @formulario.m10 %>
</p>

<p>
  <strong>M11:</strong>
  <%= @formulario.m11 %>
</p>

<p>
  <strong>M12:</strong>
  <%= @formulario.m12 %>
</p>

<p>
  <strong>Medicacion3:</strong>
  <%= @formulario.medicacion3 %>
</p>

<p>
  <strong>M13:</strong>
  <%= @formulario.m13 %>
</p>

<p>
  <strong>M14:</strong>
  <%= @formulario.m14 %>
</p>

<p>
  <strong>M15:</strong>
  <%= @formulario.m15 %>
</p>

<p>
  <strong>M16:</strong>
  <%= @formulario.m16 %>
</p>

<p>
  <strong>M17:</strong>
  <%= @formulario.m17 %>
</p>

<p>
  <strong>M18:</strong>
  <%= @formulario.m18 %>
</p>

<p>
  <strong>Otro 3:</strong>
  <%= @formulario.otro_3 %>
</p>

<p>
  <strong>Suplemento1:</strong>
  <%= @formulario.suplemento1 %>
</p>

<p>
  <strong>S1:</strong>
  <%= @formulario.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @formulario.s2 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @formulario.s3 %>
</p>

<p>
  <strong>S4:</strong>
  <%= @formulario.s4 %>
</p>

<p>
  <strong>Suplemento2:</strong>
  <%= @formulario.suplemento2 %>
</p>

<p>
  <strong>S5:</strong>
  <%= @formulario.s5 %>
</p>

<p>
  <strong>S6:</strong>
  <%= @formulario.s6 %>
</p>

<p>
  <strong>S7:</strong>
  <%= @formulario.s7 %>
</p>

<p>
  <strong>S8:</strong>
  <%= @formulario.s8 %>
</p>

<p>
  <strong>Suplemento3:</strong>
  <%= @formulario.suplemento3 %>
</p>

<p>
  <strong>S9:</strong>
  <%= @formulario.s9 %>
</p>

<p>
  <strong>S10:</strong>
  <%= @formulario.s10 %>
</p>

<p>
  <strong>S11:</strong>
  <%= @formulario.s11 %>
</p>

<p>
  <strong>S12:</strong>
  <%= @formulario.s12 %>
</p>

<p>
  <strong>Otro 4:</strong>
  <%= @formulario.otro_4 %>
</p>

<p>
  <strong>Madre:</strong>
  <%= @formulario.madre %>
</p>

<p>
  <strong>Padre:</strong>
  <%= @formulario.padre %>
</p>

<p>
  <strong>Abuela mat:</strong>
  <%= @formulario.abuela_mat %>
</p>

<p>
  <strong>Abuela pat:</strong>
  <%= @formulario.abuela_pat %>
</p>

<p>
  <strong>Abuelo mat:</strong>
  <%= @formulario.abuelo_mat %>
</p>

<p>
  <strong>Abuelo pat:</strong>
  <%= @formulario.abuelo_pat %>
</p>

<p>
  <strong>Hermanos:</strong>
  <%= @formulario.hermanos %>
</p>

<p>
  <strong>Hermanas:</strong>
  <%= @formulario.hermanas %>
</p>

<p>
  <strong>Tios:</strong>
  <%= @formulario.tios %>
</p>

<p>
  <strong>Tias:</strong>
  <%= @formulario.tias %>
</p>

<p>
  <strong>Ninos:</strong>
  <%= @formulario.ninos %>
</p>

<p>
  <strong>Sobrinos:</strong>
  <%= @formulario.sobrinos %>
</p>

<p>
  <strong>Activa:</strong>
  <%= @formulario.activa %>
</p>

<p>
  <strong>Ejercicio1:</strong>
  <%= @formulario.ejercicio1 %>
</p>

<p>
  <strong>E1:</strong>
  <%= @formulario.e1 %>
</p>

<p>
  <strong>E2:</strong>
  <%= @formulario.e2 %>
</p>

<p>
  <strong>Ejercicio2:</strong>
  <%= @formulario.ejercicio2 %>
</p>

<p>
  <strong>E3:</strong>
  <%= @formulario.e3 %>
</p>

<p>
  <strong>E4:</strong>
  <%= @formulario.e4 %>
</p>

<p>
  <strong>Ejercicio3:</strong>
  <%= @formulario.ejercicio3 %>
</p>

<p>
  <strong>E5:</strong>
  <%= @formulario.e5 %>
</p>

<p>
  <strong>E6:</strong>
  <%= @formulario.e6 %>
</p>

<p>
  <strong>Otro 5:</strong>
  <%= @formulario.otro_5 %>
</p>

<p>
  <strong>Fumas1:</strong>
  <%= @formulario.fumas1 %>
</p>

<p>
  <strong>Fumas2:</strong>
  <%= @formulario.fumas2 %>
</p>

<p>
  <strong>Fumado:</strong>
  <%= @formulario.fumado %>
</p>

<p>
  <strong>Alcol1:</strong>
  <%= @formulario.alcol1 %>
</p>

<p>
  <strong>Alcol2:</strong>
  <%= @formulario.alcol2 %>
</p>

<p>
  <strong>Alergia1:</strong>
  <%= @formulario.alergia1 %>
</p>

<p>
  <strong>Alergia2:</strong>
  <%= @formulario.alergia2 %>
</p>

<p>
  <strong>Habitos1:</strong>
  <%= @formulario.habitos1 %>
</p>

<p>
  <strong>Habitos2:</strong>
  <%= @formulario.habitos2 %>
</p>

<p>
  <strong>Habitos3:</strong>
  <%= @formulario.habitos3 %>
</p>

<p>
  <strong>Habitos4:</strong>
  <%= @formulario.habitos4 %>
</p>

<p>
  <strong>Galletas tartas bolleria:</strong>
  <%= @formulario.galletas_tartas_bolleria %>
</p>

<p>
  <strong>Leche:</strong>
  <%= @formulario.leche %>
</p>

<p>
  <strong>Huevos:</strong>
  <%= @formulario.huevos %>
</p>

<p>
  <strong>Chocolates dulces:</strong>
  <%= @formulario.chocolates_dulces %>
</p>

<p>
  <strong>Carne roja:</strong>
  <%= @formulario.carne_roja %>
</p>

<p>
  <strong>Carne blanca:</strong>
  <%= @formulario.carne_blanca %>
</p>

<p>
  <strong>Pescado blanco:</strong>
  <%= @formulario.pescado_blanco %>
</p>

<p>
  <strong>Pezcado azul:</strong>
  <%= @formulario.pezcado_azul %>
</p>

<p>
  <strong>Carne procesada:</strong>
  <%= @formulario.carne_procesada %>
</p>

<p>
  <strong>Pan:</strong>
  <%= @formulario.pan %>
</p>

<p>
  <strong>Te:</strong>
  <%= @formulario.te %>
</p>

<p>
  <strong>Cafe:</strong>
  <%= @formulario.cafe %>
</p>

<p>
  <strong>Refresco lata:</strong>
  <%= @formulario.refresco_lata %>
</p>

<p>
  <strong>Agua:</strong>
  <%= @formulario.agua %>
</p>

<p>
  <strong>Verdura:</strong>
  <%= @formulario.verdura %>
</p>

<p>
  <strong>Ensalada:</strong>
  <%= @formulario.ensalada %>
</p>

<p>
  <strong>Tick:</strong>
  <%= @formulario.tick %>
</p>

<p>
  <strong>Pecho:</strong>
  <%= @formulario.pecho %>
</p>

<p>
  <strong>Dieta sana:</strong>
  <%= @formulario.dieta_sana %>
</p>

<p>
  <strong>Motivacion:</strong>
  <%= @formulario.motivacion %>
</p>

<p>
  <strong>Desayuno1:</strong>
  <%= @formulario.desayuno1 %>
</p>

<p>
  <strong>Desayuno2:</strong>
  <%= @formulario.desayuno2 %>
</p>

<p>
  <strong>Desayuno3:</strong>
  <%= @formulario.desayuno3 %>
</p>

<p>
  <strong>Almuerzo:</strong>
  <%= @formulario.almuerzo %>
</p>

<p>
  <strong>Almuerzo2:</strong>
  <%= @formulario.almuerzo2 %>
</p>

<p>
  <strong>Almuerzo3:</strong>
  <%= @formulario.almuerzo3 %>
</p>

<p>
  <strong>Cena1:</strong>
  <%= @formulario.cena1 %>
</p>

<p>
  <strong>Cena2:</strong>
  <%= @formulario.cena2 %>
</p>

<p>
  <strong>Cena3:</strong>
  <%= @formulario.cena3 %>
</p>

<p>
  <strong>Snacks1:</strong>
  <%= @formulario.snacks1 %>
</p>

<p>
  <strong>Snacks2:</strong>
  <%= @formulario.snacks2 %>
</p>

<p>
  <strong>Snacks3:</strong>
  <%= @formulario.snacks3 %>
</p>

<p>
  <strong>Bebidas1:</strong>
  <%= @formulario.bebidas1 %>
</p>

<p>
  <strong>Bebidas2:</strong>
  <%= @formulario.bebidas2 %>
</p>

<p>
  <strong>Bebidas3:</strong>
  <%= @formulario.bebidas3 %>
</p>

<%= link_to 'Edit', edit_formulario_path(@formulario) %> |
<%= link_to 'Back', formularios_path %>
