<p id="notice"><%= notice %></p>

<h1>
  <%= @formulario.nombre %>
</h1>

<h3>Datos Personales</h3>
<p>
  <strong>Fecha:</strong>
  <%= @formulario.fecha %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @formulario.FdN %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @formulario.direccion %>
</p>

<p>
  <strong>Sexo:</strong>
    <% if @formulario.sexo %>
    Mujer
    <% else %>
    Hombre
    <% end %>
</p>

<p>
  <strong>Email:</strong>
  <%= @formulario.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @formulario.telefono %>
</p>

<p>
  <strong>Movil:</strong>
  <%= @formulario.movil %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @formulario.profesion %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @formulario.altura %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @formulario.peso %>
</p>

<p>
  <strong>Motivos por acudir a Terapia Nutricional:</strong>
  <%= @formulario.motivos %>
</p>

<p>
  <strong>Acudido a otros especialistas?:</strong>
  <%= @formulario.especialistas %>
</p><br>

<p>
  <strong>Intolerancias:</strong>
  <%= @formulario.intolerancia %>
</p>
<p>
  <strong>Detalles:</strong>
  <%= @formulario.detalles_1 %>
</p><br>

<p>
  <strong>Limites de alcanzar sus metas de salud:</strong><br>
<% unless @formulario.limites==[] %>
        <% @formulario.limites[1..-1].each do |element| %>
          <%= @limites[element.to_i] %><br>
        <% end %>
        <% end %>


<br>
</p>
<p>
  <strong>Otro:</strong>
  <%= @formulario.otro_1 %>
</p><br><br>


</table>
<table class="table">
      <thead>
        <tr>
          <th>Problema de salud/síntoma/cirujía</th>
          <th>Edad de inicio</th>
          <th>Duración</th>
          <th>Medicación</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @formulario.problema1 %></td>
          <td><%= @formulario.p1 %></td>
          <td><%= @formulario.p2 %></td>
          <td><%= @formulario.p3 %></td>
        </tr>
        <tr>
          <td><%= @formulario.problema2 %></td>
          <td><%= @formulario.p4 %></td>
          <td><%= @formulario.p5 %></td>
          <td><%= @formulario.p6 %></td>
        </tr>
        <tr>
          <td><%= @formulario.problema3 %></td>
          <td><%= @formulario.p7 %></td>
          <td><%= @formulario.p8 %></td>
          <td><%= @formulario.p9 %></td>
        </tr>
        <tr>
          <td><%= @formulario.problema4 %></td>
          <td><%= @formulario.p10 %></td>
          <td><%= @formulario.p11 %></td>
          <td><%= @formulario.p12 %></td>
        </tr>
      <tbody>
</table>
<p>
  <strong>Otro:</strong>
  <%= @formulario.otro_2 %>
</p><br><br>


</table>
<table class="table">
      <thead>
        <tr>
          <th>Medicación</th>
          <th>Dosis</th>
          <th>Condición</th>
          <th>Frecuencia</th>
          <th>Duración</th>
          <th>Actual</th>
          <th>Pasado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @formulario.medicacion1 %></td>
          <td><%= @formulario.m1 %></td>
          <td><%= @formulario.m2 %></td>
          <td><%= @formulario.m3 %></td>
          <td><%= @formulario.m4 %></td>
          <td><%= @formulario.m5 %></td>
          <td><%= @formulario.m6 %></td>
        </tr>
        <tr>
          <td><%= @formulario.medicacion2 %></td>
          <td><%= @formulario.m7 %></td>
          <td><%= @formulario.m8 %></td>
          <td><%= @formulario.m9 %></td>
          <td><%= @formulario.m10 %></td>
          <td><%= @formulario.m11 %></td>
          <td><%= @formulario.m12 %></td>
        </tr>
        <tr>
          <td><%= @formulario.medicacion3 %></td>
          <td><%= @formulario.m13 %></td>
          <td><%= @formulario.m14 %></td>
          <td><%= @formulario.m15 %></td>
          <td><%= @formulario.m16 %></td>
          <td><%= @formulario.m17 %></td>
          <td><%= @formulario.m18 %></td>
        </tr>
      <tbody>
</table>
<p>
  <strong>Otro:</strong>
  <%= @formulario.otro_3 %>
</p><br><br>

</table>
<table class="table">
      <thead>
        <tr>
          <th>Suplemento</th>
          <th>Dosis</th>
          <th>Duración</th>
          <th>Actual</th>
          <th>Pasado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @formulario.suplemento1 %></td>
          <td><%= @formulario.s1 %></td>
          <td><%= @formulario.s2 %></td>
          <td><%= @formulario.s3 %></td>
          <td><%= @formulario.s4 %></td>
        </tr>
        <tr>
          <td><%= @formulario.suplemento2 %></td>
          <td><%= @formulario.s5 %></td>
          <td><%= @formulario.s6 %></td>
          <td><%= @formulario.s7 %></td>
          <td><%= @formulario.s8 %></td>
        </tr>
        <tr>
          <td><%= @formulario.suplemento3 %></td>
          <td><%= @formulario.s9 %></td>
          <td><%= @formulario.s10 %></td>
          <td><%= @formulario.s11 %></td>
          <td><%= @formulario.s12 %></td>
        </tr>
      <tbody>
</table>
<p>
  <strong>Otro:</strong>
  <%= @formulario.otro_4 %>
</p><br><br>


</table>
<table class="table">
      <thead>
        <tr>
          <th>Quién</th>
          <th>Condición</th>
          <th>Quién</th>
          <th>Condición</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Madre</td>
          <td><%= @formulario.madre %></td>
          <td>Padre</td>
          <td><%= @formulario.padre %></td>
        </tr>
        <tr>
          <td>Abuela materna</td>
          <td><%= @formulario.abuela_mat %></td>
          <td>Abuela paterna</td>
          <td><%= @formulario.abuela_pat %></td>
        </tr>
        <tr>
          <td>Abuelo materno</td>
          <td><%= @formulario.abuelo_mat %></td>
          <td>Abuelo paterno</td>
          <td><%= @formulario.abuelo_mat %></td>
        </tr>
        <tr>
          <td>Hermanos</td>
          <td><%= @formulario.hermanos %></td>
          <td>Hermanas</td>
          <td><%= @formulario.hermanas %></td>
        </tr>
        <tr>
          <td>Tíos</td>
          <td><%= @formulario.tios %></td>
          <td>Tías</td>
          <td><%= @formulario.tias %></td>
        </tr>
        <tr>
          <td>Niños</td>
          <td><%= @formulario.ninos %></td>
          <td>Sobrinos</td>
          <td><%= @formulario.sobrinos %></td>
        </tr>
      <tbody>
</table>
<p>
  FACTORES-ESTILO DE VIDA<br>
  <strong>Te consideras una persona:</strong><br>
<% unless @formulario.activa==[] %>
        <% @formulario.activa[1..-1].each do |element| %>
          <%= @activa[element.to_i] %><br>
        <% end %>
        <% end %>
</p><br>


</table>
<table class="table">
      <thead>
        <tr>
          <th>Tipo de ejercicio</th>
          <th>Frecuencia (e.g. 3x p/semana)</th>
          <th>Duración (e.g. 45 mins)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @formulario.ejercicio1 %></td>
          <td><%= @formulario.e1 %></td>
          <td><%= @formulario.e2 %></td>
        </tr>
        <tr>
          <td><%= @formulario.ejercicio2 %></td>
          <td><%= @formulario.e3 %></td>
          <td><%= @formulario.e4 %></td>
        </tr>
        <tr>
          <td><%= @formulario.ejercicio3 %></td>
          <td><%= @formulario.e5 %></td>
          <td><%= @formulario.e6 %></td>
        </tr>
      <tbody>
</table>
<p>
  <strong>Otro:</strong>
  <%= @formulario.otro_5 %>
</p><br><br>


TOBACCO & ALCOL<br><br>
<p>
  <strong>Fuma?</strong>
  <%= @formulario.fumas1 %>
</p>
<p>
  <strong>cuantos al dia?</strong>
  <%= @formulario.fumas2 %>
</p>
<p>
  <strong>Has fumado alguna vez?</strong>
  <%= @formulario.fumado %>
</p>
<p>
  <strong>consumición media de alcohol (unidades)</strong><br><br>
  Entre semana
  <%= @formulario.alcol1 %>
</p>
<p>
  <strong></strong>
  Fin de semana
  <%= @formulario.alcol2 %>
</p>

<p>
  <strong>Pon un tic en las Casillas si son aplicables en tu caso, y poner mas detalles en el espacio abajo:</strong><br>

  <% unless @formulario.alergia1==[] %>
  <% @formulario.alergia1[1..-1].each do |element| %>
    <%= @alergia1_options[element.to_i] %><br>
  <% end %>
    <% end %>
</p>
<br>
<p>
  <strong>Proporciona mas detalles y enumera cualquier alimento o producto químico que te podría provocar una reacción:</strong>
  <%= @formulario.alergia2 %>
</p>


<p>
  <strong>Tienes antoja para algún alimento?</strong>
  <%= @formulario.habitos1 %>
</p>

<p>
  <strong>Hay algún alimento que no te gusta?</strong>
  <%= @formulario.habitos2 %>
</p>

<p>
  <strong>Cuales son tus alimentos preferidos?</strong>
  <%= @formulario.habitos3 %>
</p>

<p>
  <strong>Alguna comida que te costaría prescindir de?</strong>
  <%= @formulario.habitos4 %>
</p>
<br><br>



</table>
<table class="table-condensed">
      <thead>
        <tr>
          <th>Indica la cantidad aproximada por semana:</th>
          <th></th>
          <th>Indica la cantidad aproximada diario</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Galletas/tartas/bolleria</td>
          <td><%= @formulario.galletas_tartas_bolleria %></td>
          <td>Pan</td>
          <td><%= @formulario.pan %></td>
        </tr>
        <tr>
          <td>Leche</td>
          <td><%= @formulario.leche %></td>
          <td>Tazas de té</td>
          <td><%= @formulario.te %></td>
        </tr>
        <tr>
          <td>Huevos</td>
          <td><%= @formulario.huevos %></td>
          <td>Tazas de café</td>
          <td><%= @formulario.cafe %></td>
        </tr>
        <tr>
          <td>Chocolates/dulces</td>
          <td><%= @formulario.chocolates_dulces %></td>
          <td>Latas de resfrescos con gas</td>
          <td><%= @formulario.refresco_lata %></td>
        </tr>
        <tr>
          <td>Carne roja (Ternea, Cordero o Cerdo)</td>
          <td><%= @formulario.carne_roja %></td>
          <td>Refrescos con gas (light)</td>
          <td></td>
        </tr>
        <tr>
          <td>Carne blanca (Pollo, Pavo, Conejo)</td>
          <td><%= @formulario.carne_blanca %></td>
          <td>Vasos de agua</td>
          <td><%= @formulario.agua %></td>
        </tr>
        <tr>
          <td>Pescado blanco</td>
          <td><%= @formulario.pescado_blanco %></td>
          <td>Porciones de Fruta</td>
          <td><%= @formulario.fruta %></td>
        </tr>
        <tr>
          <td>Pescado azul</td>
          <td><%= @formulario.pezcado_azul %></td>
          <td>Porciones de Verdura</td>
          <td><%= @formulario.verdura %></td>
        </tr>
        <tr>
          <td>Carne procesada</td>
          <td><%= @formulario.carne_procesada %></td>
          <td>Porciones de ensalada5</td>
          <td><%= @formulario.ensalada %></td>
        </tr>
      <tbody>
</table>
<br><br>


<p>
  <strong>Pon un tic en las Casillas si son aplicables en tu caso:</strong><br>
<br>
  <% unless @formulario.tick==[] %>
  <% @formulario.tick[1..-1].each do |element| %>
    <%= @tick_options[element.to_i-1] %><br>
      <% end %>
      <% end %>

</p>

<p>
  <strong>Te dieron pecho?:</strong>
  <%= @formulario.pecho %>
</p>

<p>
  <strong>Crecido con una dieta sana?:</strong>
  <%= @formulario.dieta_sana %>
</p>

<p>
  <strong>Nivel de motivación para cambiar tu dieta y incorporar nueva comida?:</strong>
  <%= @formulario.motivacion %>
</p>

<br><br>
</table>
<table class="table eating_plan">
      <thead>
        <tr>
          <th></th>
          <th>Dia entre semana 1</th>
          <th>Dia entre semana 2</th>
          <th>Fin de Semana</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Desayuno</td>
          <td><%= @formulario.desayuno1 %></td>
          <td><%= @formulario.desayuno2 %></td>
          <td><%= @formulario.desayuno3 %></td>
        </tr>
        <tr>
          <td>Almuerzo</td>
          <td><%= @formulario.almuerzo %></td>
          <td><%= @formulario.almuerzo2 %></td>
          <td><%= @formulario.almuerzo3 %></td>
        </tr>
        <tr>
          <td>Cena</td>
          <td><%= @formulario.cena1 %></td>
          <td><%= @formulario.cena2 %></td>
          <td><%= @formulario.cena3 %></td>
        </tr>
        <tr>
          <td>Snacks</td>
          <td><%= @formulario.snacks1 %></td>
          <td><%= @formulario.snacks2 %></td>
          <td><%= @formulario.snacks3 %></td>
        </tr>
        <tr>
          <td>Bebidas</td>
          <td><%= @formulario.bebidas1 %></td>
          <td><%= @formulario.bebidas2 %></td>
          <td><%= @formulario.bebidas3 %></td>
        </tr>
      <tbody>
</table>

<%= link_to 'Edit', edit_formulario_path(@formulario) %> |
<%= link_to 'Back', formularios_path %>
