<h1>Registrarse</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, label: 'Contrase침a', required: true, hint: ("#{@minimum_password_length} car치cteres minimo" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: 'Contrase침a confirmaci칩n', required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Registrarse" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<br><br><br><br><br><br><br><br>
