<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @questionnaire.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @questionnaire.dob %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @questionnaire.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @questionnaire.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @questionnaire.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @questionnaire.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @questionnaire.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @questionnaire.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @questionnaire.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @questionnaire.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @questionnaire.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @questionnaire.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @questionnaire.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @questionnaire.q12 %>
</p>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
